---
---

body
  margin: 0
  padding: 0

.background
  background-image: radial-gradient(rgba(0,0,0,1), rgba(0,0,0,0.1)), url('../img/Network.png')

#title
  width: 100%
  height: 100%
  display: flex
  background-color: #ffffffbb
  flex-direction: column
  align-items: center
  justify-content: center

  h1
    font-family: sans-serif
    margin: .25em

  span
    font-family: sans-serif

#main
  display: flex
  align-items: center
  flex-direction: column
  min-height: 100%
  max-width: 100%
  background: #fafafa

.group
  display: flex

  justify-content: space-around

  max-width: 100%
  margin: 2em
  height: fit-content

.chart
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around

  max-width: 100%
  height: auto
  h1
    font-family: sans-serif

#focus .axis.x .tick text
  text-anchor: end
  transform: rotate(-60deg) translate(-10px,-12px)

#range.dc-chart .axis
  display: none

#range svg
  display: block
