---
---

body
  min-height: 100vh
  margin: 0
  padding: 0

#tooltip 
  position: fixed
  top: -100%
  left: -100%

  background: #ffffff
  border-radius: 0.5em
  box-shadow: 0 0 1vmin #0003
  font-family: sans-serif
  padding: 0.5em
  h3, h4
    margin: 0

#title
  width: 100%
  height: 100vh
  color: white
  display: flex
  background-image: url('../img/Network.png')
  filter: grayscale(1)
  flex-direction: column
  align-items: center
  justify-content: center
  h1
    font-family: sans-serif
    font-size: 2em
    margin: .25em

  i
    font-family: sans-serif

main
  height: 100vh
  background: #fafafa
  scroll-snap-type: mandatory
  scroll-snap-points: repeat(100vh)
  scroll-snap-type: y mandatory
  overflow-y: scroll

section
  height: 100vh
  scroll-snap-align: center

.group
  display: flex

  justify-content: space-around

  max-width: 100%
  margin: 2em
  height: fit-content

.chart
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around
  max-width: 100%

  &:nth-child(2n+1)
    background: #ffffff
    
  &:nth-child(2n)
    background: #fafafa
  
  h1
    font-family: sans-serif


#focus .axis.x .tick text
  text-anchor: end
  transform: rotate(-60deg) translate(-10px,-12px)

#range.dc-chart .axis
  display: none

#range svg
  display: block

#map
  margin: .5em
  width: 600px
  height: 480px

    
.info
  padding: 6px 8px
  font: 14px/16px Arial, Helvetica, sans-serif
  background: white
  background: rgba(255,255,255,0.8)
  box-shadow: 0 0 15px rgba(0,0,0,0.2)
  border-radius: 5px
  
  h4 
    margin: 0 0 5px
    color: #777

.legend 
    line-height: 18px
    color: #555

.legend i 
    width: 18px
    height: 18px
    float: left
    margin-right: 8px
    opacity: 0.7
